/* .movements {
  grid-row: 2 / span 3;
  background-color: rgb(216, 60, 60);
  border-radius: 1rem;
  overflow: scroll;
  opacity: 0;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
  display: inline;
}
.movements__task {
  padding: auto;
}

.btn-delete {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(114, 9, 9);
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
  padding-inline-end: 10px;
}
*/
.btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(252, 244, 244);
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
  background-color: #39b385;
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
/* .Btn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.Btn:hover {
  background-color: #bbb;
} */
